<!DOCTYPE html>
<html>
<head>
  <title>Juan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%=render 'layouts/navigation' unless (params[:controller] == "high_voltage/pages" && params[:action] == "show" && params[:id] == "home") %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
